html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0px;
  list-style: none;
}

.center {
  text-align: center;
}

.xxl {
  font-size: 40px;
}

.my-4 {
  margin: 10px 0px;
}

.em {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.bg-skyblue {
  background-color: skyblue;
}

.xl {
  font-size: larger;
}

.lg {
  font-size: 20px;
}

/* CustomerDetailsForm */
.input-view,
.select-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-view p,
.select-view p {
  color: red;
  font-size: 12px;
  margin: 0px;
}

.input-view input {
  width: 95%;
  padding: 5px 10px;
  margin: 5px;
  height: 32px;
}

.select-view select {
  width: 95%;
  padding: 5px 10px;
  margin: 5px;
  color: black;
}

.input-view input.long {
  width: 98%;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* button */
.buttonSet {
  margin-top: 10px;
  width: 100%;
}

.buttonSet .next {
  background-color: blue;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.buttonSet .submit {
  background-color: green;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.buttonSet .back {
  background-color: red;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.buttonSet .next:hover {
  opacity: 0.8;
}

button {
  color: white;
  cursor: pointer;
}
button.go-back {
  color: red;
}

/* cardform */
#PaymentForm .input-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-group input {
  margin: 10px 20px;
  padding: 5px 10px;
  margin: 5px;
  height: 32px;
}
